<div class="row">
  <div class="col-xs-4">
    <div class="box"></div>
  </div>
  <div class="col-xs-4">

<form>
  <md-select placeholder="Favorite genre" [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)" name="genre">
    <md-option *ngFor="let genre of genres" [value]="genre">
      {{genre}}
    </md-option>
  </md-select>
</form>

<!--chips-->
<md-chip-list class="mat-chip-list-stacked">
  <md-chip *ngFor="let g of selectedGenres"
      color="accent" selected="true">
    {{g}} <button md-mini-fab style ="float : right" (click)="removeFromGenres(g)"><md-icon>clear</md-icon></button>
  </md-chip>
</md-chip-list>

 </div>
   <div class="col-xs-4">
    <div class="box"></div>
  </div>
