#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: white;
    box-shadow:10px 10px 10px 10px black;
    overflow: hidden;
    margin: auto;
}
.imageHolder{
    float: left;
    width: 150px; 
    height: 100%;
}
.detail
{
    float: left;
    width: 200px; 
    height: 100%;
}

    .controller{
    width:300px;
    height: 100%;
    left: 20%;
    margin-top: 25px;
    position: relative;
    float:left;

}
