<div id="footer">
    <app-playermusicbar barPosition={{current}}></app-playermusicbar>
    <div class="imageHolder">
        <app-imageholder imageUrl={{song.user_id.photo_link}}></app-imageholder>

    </div>
    <div class="detail">
        <md-list>
            <md-list-item style="font-weight: 900">{{song.title}}</md-list-item>
            <md-list-item style="font-weight: 400">{{song.user_id.full_name}}</md-list-item>
        </md-list>
    </div>
    
    <div class="controller">
        <button *ngIf="paused===true" (mouseup)="_pause()" md-fab style="background-color:white; color: orangeRed"><md-icon style="font-size: 28px">play_arrow</md-icon></button>
        <button *ngIf="paused===false" (mouseup)="_pause()" md-fab style="background-color:white; color: orangeRed"><md-icon style="font-size: 28px">pause</md-icon></button>
        <span md-button (click)="proceedNextMusic()" style="background-color:white; cursor: hand;cursor: pointer;color: grey; margin-left:10px"><md-icon style="font-size: 28px">skip_next</md-icon></span>
        <div style="font-size:8pt">{{audio.currentTime|toMinute}} / {{duration|toMinute}}</div>
    </div>
    
</div>