input.ng-invalid {
    border-left: 1px solid red;
}
input.ng-valid {
    border-left : 1px solid green;
}
.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

.container {
    width: 60%;
    overflow: hidden;
    margin: auto;
}

.cube {
    float: left;
    width: 150px; 
    height: 150px;
}

h4 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid wheat; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h4 span { 
    background:#fff; 
    padding:0 10px; 
}