<div>
  <div>
    <md-card class="container">
      <app-facebooklogin></app-facebooklogin>
      <h4 style="margin-top:40px;"><span>OR</span></h4>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div style="padding-left:30%">
            <md-icon>person</md-icon>
            <md-input-container>
              <input mdInput placeholder="Email" type="text" class="form-control example-full-width" formControlName="username">
            </md-input-container>
          </div>
        </div>
        <div class="form-group">
          <div style="padding-left:30%">
            <md-icon>lock</md-icon>
            <md-input-container>
              <input mdInput placeholder="password" type="text" class="form-control" formControlName="password">
            </md-input-container>
            <!--<div *ngIf="loginForm.controls['username'].hasError('required')">
              <small> <md-icon color="warn">error</md-icon> username should not be empty!</small>
            </div>
            <div *ngIf="loginForm.controls['username'].hasError('email')">
              <small> <md-icon color="warn">error</md-icon> username should be a valid email!</small>
            </div>
            <div *ngIf="loginForm.controls['password'].hasError('required')">
              <small> <md-icon color="warn">error</md-icon>Password should not be empty!</small>
            </div>-->
          </div>
        </div>
        <button style="color:green;width:70%;margin-left:15%" md-raised-button type="submit" [disabled]="!loginForm.valid">LOGIN</button>
      </form>
      <hr>
      <h5><span><a>Forgot your username or password?</a></span></h5>
      <h4><span>Don't even have an account?<a href="">Sign Up</a></span></h4>
      <hr>
     <h6><a> If you click "Log in with Facebook" and are not a DarwinBeats user, you will be registered and you agree to DarwinBeats's Terms & Conditions and Privacy Policy.</a></h6>
    </md-card>
    <div>
    </div>
  </div>
</div>