<div [ngClass]="{'navbar': true, 'shadow': IsShadowed}">
  <a href="#home">DarwinBeats</a>
  <a (click)="logOut()" *ngIf="isLogged===true" style="float: right" routerLink="/about" routerLinkActive="active"><md-icon mdTooltip="Sign out">exit_to_app</md-icon></a>
  <a *ngIf="isLogged==false" style="float: right" routerLink="/login" routerLinkActive="active">SignIn</a>
  <a *ngIf="isLogged===true" style="float: right" routerLink="/setting" routerLinkActive="active"><md-icon mdTooltip="profile setting">settings</md-icon></a>
  <a *ngIf="isLogged===true" style="float: right" routerLink="/about" routerLinkActive="active">About</a>
</div>
