.navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  z-index:1;
}

.shadow{
   box-shadow:0px 0px 10px grey;
}

.navbar a {
  float: left;
  display: block;
  color: #121212;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover{
    float: left;
  display: block;
  color:grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

