<app-navbar></app-navbar>

<div class="row">
    <div class="col-xs-1">
        <div class="box">1</div>
    </div>
    <div class="col-xs-10">
        <div class="box">
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="col-xs-1">
        <div class="box">1</div>
    </div>
</div>
<app-musicplayer *ngIf="isLogged===true"></app-musicplayer>