
.progress-bar,
position fixed {
  background-color: orangered;
}
.progress-bar {
  top: 5px;
  height: 5px;
}

.progress-bar .end-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 2px;
}

